.fav-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 400px;
  padding: 10px;

  .fav-img {
    max-width: 100%;
    max-height: 100%;
  }

  .fav-buttons {
    width: 30%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .bouton-plus-info {
      text-decoration: none;
      color: #ffffff;
      background-color: var(--red);
      padding: 8px;
      border-radius: 5px;
      font-size: 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .fav-trash {
      color: #ffffff;
      font-size: 20px;
    }
  }
}
