.motdepasseoublie_connectez_vous {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  color: white;
  font-family: Montserrat;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  input {
    display: flex;
    border-radius: 3px;
    border: none;
    padding: 15px;
    width: 30%;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 15px;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    background-color: var(--dark-purple);
    font-size: clamp(0.7em, 1.5vw, 2em);
    &:hover {
      background-color: #d17ab7;
      transition: 0.2s;
    }
  }
  h2,
  h3 {
    font-size: clamp(1em, 2.5vw, 2.1em);
  }

  form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

.modedepasseoublie-lien {
  text-align: right;
}

.motdepasseoublie_merci {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  color: white;
  font-family: Montserrat;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .motdepasseoublie_merci_navlink {
    text-decoration: none;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 15px;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    background-color: var(--dark-purple);
    font-size: clamp(0.7em, 1.5vw, 2em);

    &:hover {
      background-color: #d17ab7;
      transition: 0.2s;
    }
  }
}
.modedepasseoublie-retour-accueil {
  text-decoration: none;
  color: white;
}
