.singleCard {
  display: flex;
  position: relative;
  max-width: 399px;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff30;
  max-height: 258px;
  min-height: 258px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all 0.3s;

  .icon-container {
    position: absolute;
    top: 20px;
    right: 20px;

    .heart-not-fav {
      color: #ffffffaf;
      font-size: 20px;
    }

    .heart-fav {
      color: #ffffff;
      font-size: 20px;
    }
  }

  .image-container {
    width: 50%;
  }

  .galerie-img {
    width: 100%;
    padding: 20px;
    min-width: 160px;
    overflow: hidden;
  }

  .info-container {
    width: 50%;
    height: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

    .bouton-plus-info {
      text-decoration: none;
      color: #ffffff;
      background-color: var(--red);
      padding: 8px;
      border-radius: 5px;
      width: 60%;
      font-size: 10px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
  }
}

@media screen and (max-width: 426px) {
  .singleCard {
    min-height: 200px;

    .info-container {
      font-size: 13px;

      .bouton-plus-info {
        font-size: 8px;
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 366px) {
  .singleCard {
    .info-container {
      .bouton-plus-info {
        height: 26px;
        min-width: 87px;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .singleCard {
    .info-container {
      font-size: 10px;
    }
  }
}
