.description {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
  width: 100%;

  .description_oeuvre {
    display: flex;
    align-items: center;
    background-color: blue;
    height: 550px;
    margin: 20px 0 20px 0;
  }

  .description_details_oeuvre {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    padding: 10px 0 10px 0;
    margin-bottom: 50px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    .description_title {
      display: flex;
      justify-content: center;
      width: 80%;
      text-align: center;
    }

    .description_descriptif {
      display: flex;
      width: 80%;
      height: 80%;
      text-align: center;
      align-items: center;
      font-size: 1.3rem;
      justify-content: center;
    }

    .description_informations {
      display: flex;
      justify-content: center;
      gap: 25px;
      width: 100%;
      flex-wrap: wrap;

      span {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}
