.page-admin-globale {
  width: 100%;
}

.page-admin-container {
  display: flex;
  justify-content: center;
  gap: 2%;
  width: 100%;
  padding: 1%;
  font-weight: 200;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.admin-tableau-container {
  width: 90%;
  margin: 0 auto;
  color: black;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }

  tbody {
    td {
      padding: 1%;
    }
  }
}

.admin-tableau-title {
  padding: 3%;
  font-weight: 300;
}

.admin-tableau-champs {
  background: rgba(255, 255, 255, 0.46);

  th {
    padding: 1%;
  }
}

.admin-colonne-width-small {
  width: 10%;
}

.admin-colonne-width-medium {
  width: 35%;
}

.admin-button-deconnexion-container {
  display: flex;
  justify-content: center;
}

.admin-button-deconnexion {
  padding: 0.5%;
  background-color: var(--red);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);

  &:hover {
    background-color: #bc627a;
  }
}

.admin-button-ajout-oeuvre-container {
  text-align: left;
}

.admin-button-ajout-oeuvre {
  padding: 0.7%;
  background-color: rgba(255, 255, 255, 0.46);
  border: none;

  border-radius: 3px;
  cursor: pointer;
  margin: 3%;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  &:hover {
    background-color: rgba(255, 255, 255, 0.181);
  }
}
