footer {
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;

  section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: #3e5b69;
    height: 10vh;
    width: 100%;

    a {
      text-decoration: none;
      color: white;
      text-decoration: underline;
    }

    #link-wild {
      text-decoration: none;
    }

    img {
      width: 80%;
    }
  }
}

.footer-mentions-rgpd {
  display: flex;
  justify-content: flex-start;
  gap: 1.3rem;
  padding-left: 2%;

  a {
    text-decoration: underline;
  }
}

.footer-logo-afac {
  display: flex;
  justify-content: center;
  width: 20%;
}

.footer-partenaires {
  display: flex;
  justify-content: flex-end;
  gap: 1.3rem;
  padding-right: 2%;

  h4 {
    font-weight: 200;
  }

  a {
    display: flex;

    /* justify-content: flex-end; */
    align-items: center;
  }

  img {
    height: 30px;
    width: auto;
  }
}
