.header {
  width: 100vw;
  height: 20vh;

  .header_logo {
    z-index: 1;
    width: 140px;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
  }

  .header_hexagone {
    position: absolute;
    width: 20%;
    left: 40%;
  }

  nav {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: end;
    list-style: none;
    gap: 150px;
    font-size: 1.1rem;
    color: white;
    font-weight: bold;

    .navlinks {
      font-family: Verdana, sans-serif;
      text-decoration: none;
      color: white;
      &:hover {
        color: rgb(215, 215, 215);
      }
    }
  }

  .connexion {
    position: absolute;
    width: 150px;
    height: 35px;
    top: 20px;
    right: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(217, 217, 217, 0.3);
    color: white;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    cursor: pointer;
  }
}
