.header {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 590px) {
    padding: 0 0 40px 0;
    height: fit-content;
  }

  .header_logo {
    z-index: 1;
    width: 180px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: 718px) {
      width: 150px;
    }

    @media screen and (max-width: 360px) {
      width: 90px;
    }
  }

  .header_hexagone {
    position: absolute;
    width: 350px;
    left: 50%;
    transform: translate(-50%, -10%);

    @media screen and (max-width: 718px) {
      width: 300px;
    }

    @media screen and (max-width: 360px) {
      width: 200px;
    }
  }

  nav {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: end;
    list-style: none;
    width: 60%;
    color: white;
    font-weight: bold;
    padding: 0 0 20px 0;

    .navlinks {
      display: flex;
      justify-content: center;
      font-family: galaxy, sans-serif;
      font-size: 1.5rem;
      text-decoration: none;
      color: white;
      z-index: 1;
      width: 20%;
      transition: all 0.5s;

      &:hover {
        color: rgb(152, 167, 187);
      }

      @media screen and (max-width: 1200px) {
        font-size: 1.3rem;
      }
    }

    @media screen and (max-width: 1200px) {
      width: 100%;
    }
  }

  .activeNavlinks {
    display: flex;
    justify-content: center;
    font-family: galaxy, sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    z-index: 1;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
    width: 20%;

    @media screen and (max-width: 1200px) {
      font-size: 1.3rem;
    }
  }

  .connexionOn {
    position: absolute;
    display: flex;
    justify-content: start;
    gap: 8px;
    align-items: center;
    width: fit-content;
    height: fit-content;
    min-height: 35px;
    top: 20px;
    right: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(217, 217, 217, 0.3);
    color: white;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    padding: 6px;
    white-space: nowrap;
    word-wrap: break-word;

    @media screen and (max-width: 718px) {
      justify-content: flex-end;
      background: none;
      top: 15px;
      right: 15px;
    }

    .buttonrouage {
      display: flex;
      justify-content: flex-start;
      background-color: transparent;
      border: none;
      height: fit-content;
      width: fit-content;
    }

    img {
      height: 40px;
      filter: brightness(0) invert(1);
      background-color: transparent;
      color: transparent;
      transition: 0.2s;

      @media screen and (max-width: 718px) {
        padding: 0;
        border-radius: 20px;
        background-color: rgba(217, 217, 217, 0.3);
        height: 4vh;
      }
    }

    img:hover {
      scale: 1.2;
      transform: translate(-3%, -3%);
      transition: 0.2s;
      cursor: pointer;
    }
  }

  .connexionOn_open {
    position: absolute;
    display: flex;
    gap: 4px;
    width: fit-content;
    height: 120px;
    top: 20px;
    right: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(217, 217, 217, 0.3);
    color: white;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    font-family: Verdana, sans-serif;

    @media screen and (max-width: 718px) {
      flex-direction: column;
      align-items: flex-end;
      background: none;
      top: 15px;
      right: 15px;
      padding: 3px;

      .prenomUtilisateurConnexionOpen {
        visibility: hidden;
      }
    }

    .buttonrouage {
      width: 20%;
      display: flex;
      justify-content: flex-start;
      background-color: transparent;
      border: none;
      height: fit-content;
      width: fit-content;
      z-index: 4;
    }

    img {
      height: 40px;
      padding-left: 5px;
      filter: brightness(0) invert(1);
      background-color: transparent;
      color: transparent;
      transition: 0.2s;

      @media screen and (max-width: 718px) {
        padding: 0;
        border-radius: 20px;
        background-color: rgba(217, 217, 217, 0.3);
        height: 4vh;
      }
    }

    img:hover {
      scale: 1.2;
      transform: translate(-3%, -3%);
      transition: 0.2s;
      cursor: pointer;
    }

    .connectionOn_open_div {
      display: flex;
      justify-content: space-around;
      padding: 5px;
      flex-direction: column;

      color: white;

      @media screen and (max-width: 718px) {
        align-items: flex-end;
        gap: 10px;
        transform: translate(0, -25px);
        height: fit-content;
      }

      .boutonDeco {
        cursor: pointer;
      }

      .linkProfilConnexion {
        text-decoration: double;
        color: white;
        transition: all 0.5s;

        &:hover {
          color: rgb(152, 167, 187);
        }
      }
    }
  }
}

.connexion {
  position: absolute;
  width: 150px;
  height: 35px;
  top: 20px;
  right: 20px;
  border: none;
  border-radius: 5px;
  background-color: rgba(217, 217, 217, 0.3);
  color: white;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  cursor: pointer;
}

.connexion:hover {
  background-color: rgba(255, 255, 255, 0.465);
}

/*________Small device / Menu Burger ________*/

@media screen and (max-width: 718px) {
  .connexion {
    visibility: hidden;
  }

  .hiddenNavPrinc {
    visibility: hidden;
  }

  .prenomUtilisateurConnexion {
    display: none;
  }
}

@media screen and (min-width: 718px) {
  .header .hiddenMenu {
    display: none;
  }
}

@media screen and (min-width: 1039px) and (max-width: 1192px) {
  .header nav .navlinks {
    font-size: 1.5rem;
  }

  .header .activeNavlinks {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1039px) and (min-width: 835px) {
  .header nav .navlinks {
    font-size: 1.2rem;
  }

  .header .activeNavlinks {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 835px) {
  .header nav .navlinks {
    font-size: 1rem;
  }

  .header .activeNavlinks {
    font-size: 1rem;
  }
}
